services:
  fintech_flask:
    build: ./app
    container_name: fintech_flask
    command: >
      gunicorn -w 4 -k gthread --threads 4
      -b 0.0.0.0:5000 app:app
      --timeout 60 --access-logfile - --error-logfile -
    ports:
      - "5000:5000"

  alertmanager:
    image: prom/alertmanager:latest
    container_name: alertmanager
    command: --config.file=/etc/alertmanager/alertmanager.yml
    volumes:
      - ./prometheus/alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
    ports:
      - "9093:9093"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    command: --config.file=/etc/prometheus/prometheus.yml --web.enable-lifecycle
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/alerts.yml:/etc/prometheus/alerts.yml:ro
      - prometheus-data:/prometheus
    ports:
      - "9090:9090"
    depends_on:
      - fintech_flask
      - alertmanager

  grafana:
    image: grafana/grafana-oss:9.0.0
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - grafana-data:/var/lib/grafana
    depends_on:
      - prometheus

  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    command: -config.file=/etc/loki/config.yml
    volumes:
      - ./loki/config.yml:/etc/loki/config.yml:ro
      - loki-data:/loki
    ports:
      - "3100:3100"

  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    user: root
    command: -config.file=/etc/promtail/config.yml
    volumes:
      - ./promtail/config.yml:/etc/promtail/config.yml:ro
      - /var/lib/docker/containers:/var/lib/docker/containers:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - loki

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.47.2
    container_name: cadvisor
    ports:
      - "8080:8080"
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

  node_exporter:
    image: prom/node-exporter:v1.8.1
    container_name: node_exporter
    ports:
      - "9100:9100"

  loadgen:
    image: curlimages/curl:8.9.0
    container_name: loadgen
    command: ["sh", "/app/loadgen.sh"]
    volumes:
      - ./scripts:/app:ro
    environment:
      BASE_URL: http://fintech_flask:5000
      SLEEP_SECS: "0.3"     # adjust if you want more/less traffic
      ALERT_EVERY: "20"     # every 20s create one alert_received log
    depends_on:
      - fintech_flask

volumes:
  loki-data:
  grafana-data:
  prometheus-data:

